

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="vnederspace">e-Seller <span>Hub</span></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="registerdiv">
    <ion-toolbar>
      <ion-title class="retext" >
        Forgot Password
      </ion-title>
      <!-- <ion-title class="verification">
        Please enter your Email address
      </ion-title> -->
      
    </ion-toolbar>
  </div>
  
  
   <form [formGroup]="passwordForm" (ngSubmit)="passwordlogin()" >
    <ion-list class="email-form">
      <ion-item>
        <ion-label position="floating" style="font-size: 16px;">Please enter your Email address</ion-label>
        <ion-input type="email" class="form-control"  name="email" formControlName="email">
        </ion-input>
      </ion-item>
        <div class="forgetpasswordbutton">
        <ion-button  href="#" class="forgetpassword" slot="start" routerLink="/login" routerDirection="root">Back to Home</ion-button>
     
        <ion-button class="sumbmitbutton" type="submit" slot="end" [disabled]="!passwordForm.valid">Submit</ion-button>
      </div>
  
     
    </ion-list>
  </form>
    
  </ion-content>
  
</ion-content>  
